@import 'variables.css';
@import 'home.css';
@import 'tour.css';
@import 'contact.css';
* {
    box-sizing: border-box;
    margin:0; 
    padding: 0;
    font-family: var(--fontMain);
}

body {
    background-color: var(--colorBg);
 
}

h1, h2 {
    font-weight: 400;
    font-style: normal;
}

h1{ 
    font-size: 3rem;
}
h2 {
    font-size: 1.8rem;
    
}



a {
    text-decoration: none;
    color: var(--colorLink);
}

ul{
    list-style-type: none;
}
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: var(--colorBgMain);
    color: var(--colorSecondary);
    font-family: var(--fontHeader);
    padding: 1.25rem;
    
    
}
header > *{
    margin: 0.5rem;
}
.header_icon { 
    display: none

}



#menu{
display: flex;
flex-direction: column;
position: sticky;
text-align: center;

}



nav{
    background-color: var(--colorBgSecondary);
    color:var(--colorLink);
    font-family: var(--fontDefault);
}


article{
    padding: 1rem;
}

span {
    font-weight: bold;
}

fieldset {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

blockquote {
    padding: 1rem;
    background-color: var(--colorBgMain);
    border-radius: 1rem;
    color: var(--colorLink);
}

blockquote p {
    margin-top: 1rem;
    text-align: center;
}

.article-header{
    background-color:var(--colorBgMain);
    color: var(--colorLink);
    padding: 1rem;
    font-size: 2rem;

}


@media (min-width: 640px){
    .header_icon {display: inline-block;}
}



@media (min-width: 1024px) {
    #menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0.5rem;
}
nav{
    width: 100%;
}

img {
    
    height: auto;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--colorBgMain);
    color: var(--colorSecondary);
    font-family: var(--fontHeader);
    padding: 1.25rem;
    
    
}
.header_icon { 
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 6rem;
    height: 6rem;
    border-radius: 2em;

}

}